<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CO2 @ Georgia Tech</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@babel/polyfill@7.4.3/dist/polyfill.min.js" integrity="sha256-N5hPfGjaJETKmtvRlOjfHrSds0mzHkUJ80Rcxs3VCxQ=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.0.0-rc.18/dist/bootstrap-vue.min.js" integrity="sha256-wNYtbZRR1cMyOFjn23T6qFRv2MJIFV75qaJsutEvxBQ=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>
        <script src="https://unpkg.com/vue-google-charts@latest/dist/vue-google-charts.browser.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class = "InsightNav">
                <img id="gtLogo" src="gt-logo.png">
                <h3 id="CO2Insights" class = "textDesign">CO<sub>2</sub> Insights</h3>
                <hr id="greyLine" style="border: 1px solid #e3e4e5;">
            </div>
            <b-container class="airTravelDiv">
                <b-row>
                    <h4 id="airTravel" class="textDesign"><i class="fas fa-paper-plane"></i> Air Travel</h4>
                    <h4 id="dropDown"> CO<sub>2</sub> Emissions for </h4>
                    <b-col md="2">
                        <b-form-select v-model="activeDepartment" :options="departments"></b-form-select>
                    </b-col>
                    <b-col cols="2" md="auto">
                        <vuejs-datepicker v-model="fromDate" placeholder="From Date" :clear-button="true" :calendar-button="true" calendar-button-icon="fa fa-calendar" :use-utc="true"></vuejs-datepicker>
                    </b-col>
                    <b-col cols="2" md="auto">
                        <vuejs-datepicker v-model="toDate"   placeholder="To Date"   :clear-button="true" :calendar-button="true" calendar-button-icon="fa fa-calendar" :use-utc="true"></vuejs-datepicker>
                    </b-col>
                </b-row>
            </b-container>
            <hr style="border: 1px solid #e3e4e5;"/>
            <b-container fluid>
                <b-row>
                    <b-col md="2">
                            <i class="far fa-question-circle"></i>
                            <h4 href="#" data-toggle="tooltip" title="Our goal is to educate the Georgia Tech community about carbon emissions via air travel. By selecting your desired department and date range, you may view various statistics related to this data. Feel free to look around!">About</h4>
                            <a href="https://forms.gle/JG3pHCSXHrPLSwxP8" style="text-decoration: none; color: inherit;"><h4><i class="fas fa-align-left"></i> Send Feedback</h4></a>
                    </b-col>
                    <b-col md="10">
                        <b-container fluid>
                            <b-row>
                                <b-col md="6">
                                    <h3 id = "totalEmissions" class = "textDesign">Total CO<sub>2</sub> Emissions Year</h3>
                                    <h6 class = "textDesign">On average, a typical passenger vehicle emits around 4.6 metric tons of CO<sub>2</sub> per year.</h6>
                                    <a href="#" data-toggle="tooltip" title="This graph shows the total carbon emissions output.">About this chart</a><br>
                                    <gchart type="ColumnChart" :data="totalEmissionsData"/>

                                </b-col>
                                <b-col md="6">
                                    <h3 id = "emissionsByDepartment" class = "textDesign">CO<sub>2</sub> Emissions by Department</h3>
                                    <a href="#" data-toggle="tooltip" title="This chart breaks down the carbon emissions data per department.">About this chart</a><br>
                                    <gchart type="PieChart" :data="emissionsByDepartmentData"/>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6">
                                    <h3 id = "emissionsByTrip" class = "textDesign">Total CO<sub>2</sub> Emissions by Trip Mileage</h3>
                                    <a href="#" data-toggle="tooltip" title="This chart displays the total mileage involved in carbon emissions.">About this chart</a><br>
                                    <h6 class = "textDesign">Almost all emissions result from taking long haul flights, so steps should be taken to reduce availability to these flights.</h6>
                                    <gchart type="BarChart" :data="emissionsByTripData"/>
                                </b-col>
                                <b-col md="6">
                                    <h3 id = "topEmitters" class = "textDesign">Top CO<sub>2</sub> Emitters</h3>
                                    <h6 class = "textDesign">The top ten carbon emitters account for almost one-third of the total faculty emissions, so encouraging more telecommuting among this group could make a huge impact on overall emissions.</h6>
                                    <a href="#" data-toggle="tooltip" title="This chart shows a breakdown of the top 10 individuals by total carbon emissions.">About this chart</a><br>
                                    <gchart type="ColumnChart" :data="topEmittersData" :options="topEmittersOptions"/>
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <script src="index.js"></script>
    </body>
</html>