<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CO2 @ Georgia Tech</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script> -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="https://unpkg.com/vuejs-datepicker"></script>
        <script src="https://unpkg.com/vue-google-charts@latest/dist/vue-google-charts.browser.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class = "InsightNav">
                <img id="gtLogo" src="gt-logo.png">
                <h3 id="CO2Insights" class = "textDesign">CO<sub>2</sub> Insights</h3>
                <hr id="greyLine" style="border: 1px solid #e3e4e5;">
            </div>
            <b-container class="airTravelDiv">
                <b-row>
                    <h4 id="airTravel" class="textDesign"><i class="fas fa-paper-plane"></i> Air Travel</h4>
                    <h4 id="dropDown"> CO<sub>2</sub> Emissions for </h4>
                    <b-col md="2">
                        <b-form-select v-model="activeDepartment" :options="departments"></b-form-select>
                    </b-col>
                    <b-col cols="2" md="auto">
                        <vuejs-datepicker v-model="fromDate" placeholder="From Date" :clear-button="true" :calendar-button="true" calendar-button-icon="fa fa-calendar" :use-utc="true"></vuejs-datepicker>
                    </b-col>
                    <b-col cols="2" md="auto">
                        <vuejs-datepicker v-model="toDate"   placeholder="To Date"   :clear-button="true" :calendar-button="true" calendar-button-icon="fa fa-calendar" :use-utc="true"></vuejs-datepicker>
                    </b-col>
                </b-row>
            </b-container>
            <hr style="border: 1px solid #e3e4e5;"/>
            <b-container fluid>
                <b-row>
                    <b-col md="2">
                            <i class="far fa-question-circle"></i>
                            <h4 href="#" data-toggle="tooltip" title="Our goal is to educate the Georgia Tech community about carbon emissions via air travel. By selecting your desired department and date range, you may view various statistics related to this data. Feel free to look around!">About</h4>
                            <a href="https://forms.gle/JG3pHCSXHrPLSwxP8" style="text-decoration: none; color: inherit;"><h4><i class="fas fa-align-left"></i> Send Feedback</h4></a>
                    </b-col>
                    <b-col md="10">
                        <b-container fluid>
                            <b-row>
                                <b-col md="6">
                                    <h3 id = "totalEmissions" class = "textDesign">Total CO<sub>2</sub> emissions</h3>
                                    <a href="#" data-toggle="tooltip" title="This graph shows the total carbon emissions output.">About this chart</a><br>
                                    <gchart type="ColumnChart" :data="totalEmissionsData"/>
                                </b-col>
                                <b-col md="6">
                                    <h3 id = "emissionsByDepartment" class = "textDesign">Total CO<sub>2</sub> emissions</h3>
                                    <a href="#" data-toggle="tooltip" title="This graph shows the total carbon emissions output.">About this chart</a><br>
                                    <gchart type="PieChart" :data="emissionsByDepartmentData"/>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col md="6">
                                    <h3 id = "emissionsByTrip" class = "textDesign">Total CO<sub>2</sub> emissions</h3>
                                    <a href="#" data-toggle="tooltip" title="This graph shows the total carbon emissions output.">About this chart</a><br>
                                    <gchart type="BarChart" :data="emissionsByTripData"/>
                                </b-col>
                                <b-col md="6">
                                    <h3 id = "topEmitters" class = "textDesign">Total CO<sub>2</sub> emissions</h3>
                                    <a href="#" data-toggle="tooltip" title="This graph shows the total carbon emissions output.">About this chart</a><br>
                                    <gchart type="ColumnChart" :data="topEmittersData" :options="topEmittersOptions"/>
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <script src="index.js"></script>
    </body>
</html>